header { grid-area: header; }
nav { grid-area: menu; }
main { grid-area: main; height: 250px; /**/ }
aside { grid-area: right; }
footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header';

  grid-gap: 5px;
  background-color: SlateGrey;
  padding: 10px;
}

.grid-container > * {
  background-color: white;
  padding: 20px 0;
  font-family: monospace;
  font-size: 2rem;
}

header a {
    text-decoration: none;
    margin-left:auto;
    margin-right: auto;
}

header img#logo {
    height: 72px;
}